[advice]
    # I know this stuff by now
    pushNonFastForward = false
    statusHints = false
[alias]
    a = add
    ai = add --interactive
    ap = add --patch
    b = branch
    bl = blame
    c = commit --verbose
    ca = commit --all --verbose
    cm = commit --amend --verbose
    cam = commit --all --amend --verbose
    cb = checkout -b
    cd = commit --all -m "dirty"
    cl = clone
    co = checkout
    cp = cherry-pick
    cpx = cherry-pick -x
    d = diff
    db = branch -D
    dbl = "!f() { git push loggly :$1; }; f"
    dbo = "!f() { git push origin :$1; }; f"
    ds = diff --stat
    e = checkout -p
    f = fetch
    fa = fetch --all
    fap = fetch --all --prune
    fl = fetch loggly
    g = grep
    h = help
    i = init
    irb = rebase --interactive
    irbl = rebase --interactive loggly/master
    irbm = rebase --interactive master
    irbo = rebase --interactive HEAD@{upstream}
    k = !gitk 2>/dev/null
    ka = !gitk --all 2>/dev/null
    l = log
    lg = log --graph
    lga = log --graph --all
    loud = log --grep=\\\\[[-_A-Z\\ ]*\\\\]
    lp = log -p
    ls = ls-files
    lss = log --stat
    lsu = ls-files --unmerged
    m = merge
    mm = merge --no-ff
    ms = merge -s subtree
    nr = name-rev
    pl = pull
    pr = pull --rebase
    ps = push
    r = remote
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbl = rebase loggly/master
    rbm = rebase master
    rbo = rebase HEAD@{upstream}
    rbs = rebase --skip
    rh = reset --hard
    rl = reflog
    rs = reset --soft
    rv = revert
    rx = reset --mixed
    s = status -sb
    sf = svn fetch
    sh = show
    sps = svn dcommit
    srb = svn rebase
    ss = show --stat
    st = stash
    stc = stash clear
    std = stash drop
    stl = stash list
    stlp = stash list --patch
    stp = stash pop
    uc = reset --mixed HEAD^
    uch = reset --hard HEAD^
[apply]
    # wish this worked with commits
    whitespace = fix
[branch]
    # when I branch off a remote checkout, set up tracking.
    autosetupmerge = true
[color]
    ui = auto
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignoreglobal
    # x bits on scripts are often set false in a repo
    filemode = false
    # be strict
    whitespace = fix,trailing-space,space-before-tab, tab-in-indent, tabwidth=4
[diff]
    # notice if I pull some text out of a file
    renames = copies
    # a,b = not so helpful
    mnemonicprefix = true
    # Don't give up!
    renameLimit = 5000
[github]
    user = MichaelBlume
    token = 942380777196d7f16e92755198360fb1
[grep]
    # show line numbers when I git-grep
    lineNumber = true
[log]
    # show where branches are in log
    decorate = short
[push]
    # don't push all the branches!
    default = current
[receive]
    # allow push -f
    denyCurrentBranch = warn
[rebase]
    # show a diffstat after rebasing
    stat = true
[svn]
    authorsfile = /home/mike/.svn_authors
[user]
    # Hey look, it's me.
    name = Mike Blume
    email = michael.blume@climate.com
    
