*.pyc
.Xauthority
.bash_logout
.bash_history
.gnupg
.lesshst
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.gitk
.vim/.netrwhist
.aptitude/
.cache/
.node_libraries/
.python-eggs/
.subversion/
.viminfo
bin/
include/
lib/
libexec/
share/
workspace/
.cpan
.ipython/history
.ipython/history-sh
.ipython/db
.ipython/IPython_crash_report.txt
.appcfg_cookies
.appcfg_nag
.pypirc
