[advice]
    # I know this stuff by now
    statusHints = false
[alias]
    a = add
    ai = add --interactive
    ap = add --patch
    b = branch
    c = commit
    ca = commit --all
    cb = checkout -b
    cl = clone
    co = checkout
    d = diff
    db = branch -D
    f = fetch
    g = grep
    irb = rebase --interactive
    k = !gitk
    ka = !gitk --all
    l = log
    m = merge
    mm = merge --no-ff
    p = cherry-pick
    pl = pull
    ps = push
    r = remote
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbm = rebase master
    rbo = rebase remotes/origin/master
    rbs = rebase --skip
    rh = reset --hard
    rl = reflog
    rs = reset --soft
    rx = reset --mixed
    s = status
    sh = show
    st = stash
    stc = stash clear
    sta = stash apply
[apply]
    # wish this worked with commits
    whitespace = fix
[color]
    ui = auto
[core]
    editor = /usr/bin/vim
    # x bits on scripts are often set false in a repo
    filemode = false
    # be strict
    whitespace = fix,trailing-space,space-before-tab, tab-in-indent, tabwidth=4
[diff]
    # notice if I pull some text out of a file
    renames = copies
    # a,b = not so helpful
    mnemonicprefix = true
[github]
    user = MichaelBlume
    token = 331443c9dd082628811367ad6c30ebe4
[grep]
    # show line numbers when I git-grep
    lineNumber = true
[log]
    # show where branches are in log
    decorate = short
[push]
    # don't push all the branches!
    default = tracking
[receive]
    # allow push -f
    denyCurrentBranch = warn
[rebase]
    # show a diffstat after rebasing
    stat = true
[user]
    # Hey look, it's me.
    name = Mike Blume
    email = mike@loggly.com
    
