[user]
    name = Mike Blume
	email = mike@loggly.com
    editor = /usr/bin/vim
[push]
	default = tracking
[color]
	ui = true
[github]
	user = MichaelBlume
	token = 331443c9dd082628811367ad6c30ebe4
[receive]
    denyCurrentBranch = warn
